body {
	background: ;
}
header {
	background: rgb(113,150,159);
	}
.text1 {
	font-size: 20px;
}

/*div*/ .text2 {
	font-size: 25px;
	margin-top: 15px;
	font-family: impact;
}

.menu-image {
	background-color: ;
}
.font-text {
	background: rgb(255,231,170);

}
.ticket {
	margin-left: 15px;
}
