body {
	background: ;
}
header {
	background: rgb(113,150,159);
	}

.header2 {
	background-color: rgb(2,49,77);
}
.text1 {
	font-size: 20px;
}

/*div*/ .text2 {
	font-size: 25px;
	margin-top: 15px;
	font-family: impact;
}

.menu-image {
	background-color: ;
}
.font-text {
	background: rgb(255,231,170);

}

.pull-right {
	margin-right: -15px;
}

.bouton-fb {
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bouton-tw {
		height: 35px;
		margin-top: 5px;
}
