body {
	background: ;
}
header {
	background: rgb(113,150,159);
	}

.header2 {
	background-color: rgb(2,49,77);
}
.text1 {
	font-size: 20px;
}

.text2 {
	font-size: 25px;
	margin-top: 60px;
	font-family: impact;
    text-align: left;
}

.menu-image {
    margin-top: 80px;
	background-color: #ecf0f1;
}

.thumbnail {
    padding-top: 30px;
    border: none;
    background: none;
}

.pull-right {
	margin-right: -15px;
}

.bouton-fb {
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bouton-tw {
		height: 39px;
		margin-top: 5px;
}
.weekend {
	margin-top: 30px;
	margin-bottom: 20px;
	}
